@using Client.Layout.Navigation
@using Client.Layout.Login
@using Client.Enums
@using Client.Services

@inherits LayoutComponentBase
@inject ProfileService ProfileService
@implements IDisposable

<div class="@MediaQuery.Xs.DivClass">
	<TopRowSection MediaQuery="@MediaQuery.Xs" />
</div>
<div class="@MediaQuery.Sm.DivClass">
	<TopRowSection MediaQuery="@MediaQuery.Sm" />
</div>
<div class="@MediaQuery.MdOrLgOrXl.DivClass">
	<TopRowSection MediaQuery="@MediaQuery.MdOrLgOrXl" />
</div>

<div class="d-flex justify-content-end mt-1 mx-1">
	<div class="p-1">
		<ThemeToggle DarkMode="@_preferences.DarkMode" />
	</div>

	<ProfileButton />

	<div class="p-2 fs-6">
		<AnchorAndModal />
	</div>
</div>


<div class="container-fluid">
	@Body
	<BlazoredToasts />
</div>

<Footer />

@code {
	private Preferences _preferences = new();

	protected override async Task OnInitializedAsync()
	{
		ProfileService.OnChange += ProfileServiceOnOnChange;
		_preferences = await ProfileService.GetPreferences();
	}

	private void ProfileServiceOnOnChange(Preferences newPreferences)
	{
		_preferences = newPreferences;
		StateHasChanged();
	}

	public void Dispose()
	{
		ProfileService.OnChange -= ProfileServiceOnOnChange;
	}

}
