@using Client.Enums

@foreach (var item in Nav.List.ToList()
		.Where(w => w.Value == Nav.Donate | w.Value == Nav.Calendar)
		.OrderBy(o => o.Sort))
{
	<a href="@item.Index" title="@item.Title"
		 type="button" class="@CssClass">
		<i class="@item.Icon"></i>
		@item.Title
	</a>
	<span>&nbsp;</span>
}

@code {
	[Parameter, EditorRequired] public string? CssClass { get; set; }
}
