@using Page = Client.Enums.Nav
@using Client.Enums

@*text-lg-start*@
<footer class="text-center bg-light text-muted w-100 mt-3">


	<!-- Section: Social media -->
	<section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">

		<!-- Left -->
		<div class="me-5 d-none d-lg-block">
			<span>Get connected with us on social networks:</span>
		</div>
		<!-- Left -->
		<!-- Right -->
		<div>


			@foreach (var item in NavSocialMedia.List.ToList())
			{
				<a href="@item.Href" class="me-4 text-reset" title="@item.Title" target="_blank">
					<i class="@item.Icon"></i>
				</a>
			}

			@foreach (var item in Nav.List.ToList()
				.Where(w => w.IsPartOfList(PageListType.Footer))
				.OrderBy(o => o.Sort))
			{
				<a href="@item.Index" class="me-4 text-reset" title="@item.Title">
					<i class="@item.Icon"></i>
				</a>
			}

		</div><!-- Right -->

	</section> <!-- Section: Social media -->
	<!-- Section:  copyright Beg  -->
	<section class="">
		<div class="container-fluid bg-light">
			<div class="p-2 mt-3 mb-1">

				<div class="row">
					<div class="col-12 text-center">
						<small>
							@DateTime.Now.Year LivingMessiah.com | &copy; Living Messiah Ministries Inc. All rights reserved.
						</small>
					</div>
				</div>


			</div>
		</div>
	</section>	<!-- Section: copyright End  -->

	<img src="/images/footer.jpg" class="img-fluid" />
</footer>

@*
	### `text-reset`
	- Reset a text or link’s color so that it inherits the color from its parent.
	- [Docs](https://getbootstrap.com/docs/5.0/utilities/text/#reset-color)

 ### `text-lg-start`
 - I don't know what this does
 - [Docs](https://getbootstrap.com/docs/5.0/utilities/text/#text-alignment)
*@


